<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信登录页</title>
</head>
<body>
<div style="text-align: center">
    <h2 >欢迎登录医疗服务平台</h2>
    <button style="text-align: center">微信登录</button>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $('button').click('',function () {
        alert('微信登录');

        // $.get("http://yiliao.com/in",function (data) {
        //
        // });
    })
</script>
</html>